/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
 background-color: black;
    margin-top: 15.125rem;
}

footer p {
    text-align: center;
    margin: 1.25rem 0rem;
    color: #fff;
}

footer p a {
    color: #fff;
    transition: all .5s;
}